*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0; 
	padding: 0;
	}

html{
	width: 100%;
	min-height: 100%;
	background-image: radial-gradient(circle farthest-side at top right, #ffcf48, #80daeb);
	color: rgba(34, 34, 34, 1);
	}
body{
	width: 100%;
	min-height: 100%;
	}

h1, h2, p, span {
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1;
	}

a { text-decoration: none; outline: none; cursor: pointer; }
a:hover {   }
a:focus { outline: none; }

.fa { color: rgba(43,108,196,1); }


.wrapper {
	min-width: 420px;
	max-width: 1024px;
	margin: 0 auto;
	padding: 10px;
	}



section {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	}


article {
	width: 218px;
	height: 308px;
	margin: 4px;
	border: 4px solid rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	box-shadow: 0px 6px 10px -4px rgba(65, 74, 76, 0.2);
	transition: box-shadow .15s ease;
	}

article * { user-select: none; }

article img {
	width: 210px;
	height: 300px;
	z-index: 1;
	}

article .description {
	position: relative;
	top: -304px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 210px;
	height: 300px;
	background: rgba(255,255,159,0.95);
	padding: 4px;
	text-align: center;
	opacity: 0;
	z-index: 2;
	}
article .description h2 {
	padding: 4px;
	}
article .description p {
	overflow: hidden;
	}
article .description h2, article .description p { cursor: default; }
article .description .fa-youtube-play { cursor: pointer; font-size: 1.4em; }

.m_title { font-size: 1.2em; font-weight: 600; }
.m_year { font-size: 0.8em; font-weight: 600; }
.m_duration { font-size: 0.9em; font-weight: 600; }
.m_genre, .m_actors { font-size: 0.8em; font-style: italic; }
.m_description { font-size: 0.8em; }

article .show { opacity: 1; }

.trailer__z {
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.80);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 3;
	}



.hidden {
	display: none;
	}



nav {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	}
nav .btn_top { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1em;
	cursor: pointer;
	z-index: 9;
	border-radius: 50%;
	background-image: radial-gradient( rgba(168,228,160,1), rgba(65,74,76,1));
	box-shadow: 0px 0px 16px 0px rgba(255,255,255,1);
	transition: box-shadow 0.2s ease;
	}
nav .btn_top i {
	font-size: 2.6em;
	color: rgba(237,237,237,1);
	transition: color 0.2s ease;
	}
.animi {
	animation: anim__i 1.8s linear 0 forwards;
	}
@keyframes anim__i {
	0% {
		background-image: radial-gradient( rgba(65,74,76,1), rgba(65,74,76,1));
		}
	100% {
		background-image: radial-gradient( rgba(65,74,76,1), rgba(168,228,160,1));
		}
	}
nav .btn_top:hover  { 
	box-shadow: 0px 0px 28px 0px #ffcf48;
	}
nav .btn_top:hover i  { 
	color: #ffcf48;
	}





@media screen and (max-width: 639px) {
	.trailer__z #trframe { width: 560px; height: 315px; }
	
}
@media screen and (min-width: 640px) {
	.trailer__z #trframe { width: 675px; height: 380px; }
	
}